<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Admin Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">


    <div style="padding-left: 40%; padding-top: 8%">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">Pagina - professor</h5>
                <h6 class="card-subtitle mb-2 text-muted">Pagina Professor</h6>
                <p class="card-text">Bem-vindo(a) à admin-page</p>
                <span th:utext="${userName}"></span>
                <p class="admin-message-text text-center" th:utext="${adminMessage}"></p>
            </div>
            <form th:action="@{/logout}" method="get">
                <button class="btn btn-md btn-danger btn-block" name="registration"
                        type="Submit">Logout
                </button>
            </form>
        </div>
    </div>


</div>
</body>
</html>